Node-RED code/flows.json
[{"id":"a265da2e.3dbe88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d8103cd1.43d68","type":"twitter in","z":"a265da2e.3dbe88","twitter":"","tags":"@biglesp","user":"user","name":"Happy or not?","inputs":0,"x":207.5,"y":174,"wires":[["8fe09de1.372f1","8e087aa6.5c51a8"]]},{"id":"ba4c85ed.73b3a8","type":"debug","z":"a265da2e.3dbe88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"sentiment.score","targetType":"msg","x":694.5,"y":99,"wires":[]},{"id":"8fe09de1.372f1","type":"sentiment","z":"a265da2e.3dbe88","name":"","property":"payload","x":441.5,"y":154,"wires":[["a666063b.ac1488","ba4c85ed.73b3a8"]]},{"id":"a666063b.ac1488","type":"switch","z":"a265da2e.3dbe88","name":"Check the sentiment","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"str"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":743.5,"y":181,"wires":[["d029b729.e28008"],["b4230e59.84c8f"],["efd4483f.259008"]]},{"id":"8e087aa6.5c51a8","type":"debug","z":"a265da2e.3dbe88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":502.5,"y":276,"wires":[]},{"id":"10b9ba22.4be696","type":"rpi-gpio out","z":"a265da2e.3dbe88","name":"Red","pin":"11","set":true,"level":"0","freq":"","out":"out","x":1279.5,"y":71,"wires":[]},{"id":"803ff31a.dc88d","type":"rpi-gpio out","z":"a265da2e.3dbe88","name":"Amber","pin":"13","set":true,"level":"0","freq":"","out":"out","x":1311.5,"y":181,"wires":[]},{"id":"3091b45f.a9320c","type":"rpi-gpio out","z":"a265da2e.3dbe88","name":"Green","pin":"15","set":true,"level":"0","freq":"","out":"out","x":1288.5,"y":297,"wires":[]},{"id":"d029b729.e28008","type":"trigger","z":"a265da2e.3dbe88","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"Negative message - Flash Red","x":1025.5,"y":111,"wires":[["10b9ba22.4be696"]]},{"id":"b4230e59.84c8f","type":"trigger","z":"a265da2e.3dbe88","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"Neutral message - Flash Amber","x":1062.5,"y":181,"wires":[["803ff31a.dc88d"]]},{"id":"efd4483f.259008","type":"trigger","z":"a265da2e.3dbe88","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"Positive message - Flash Green","x":1023.5,"y":261,"wires":[["3091b45f.a9320c"]]}]